apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: test-sjm-18-python-18-3
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: artifactory-ui-artifactory-jcr2.apps.rosa.rhtap-services.xmdt.p3.openshiftapps.com/rhtap/test-sjm-18-python-18-3:azure-d3ed7476cadd4fe7999433148db44b5b1cd10bdd
          name: container-image
